# Ignore Python bytecode cache directories and files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
env/
.virtualenv/
.venv/
env.bak/
venv.bak/


# Ignore distribution/build directories and files
build/
dist/
*.egg-info/
.eggs/
site/
site-packages/

# Models and logs
logs/
wandb/
